* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --main-color : #264653;
    --primary-color : #2a9d8f;
}

/* body {
  } */
h1,
p,
li,
a {
    color: white;
}
  header {
    background-color: var(--main-color);
  }
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3531a;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(
    263deg,
    #023047 0,
    /* #3a5a40 20%, */
    #219ebc 100%
  );
}
.logo {
  /* width: 20%; */
  position: absolute;
  top: 1.2rem;
}

.navigation,
.top-section {
  width: 100%;
}

/* 

 mostly repeated syles

 */

.main-container {
  margin: 4rem 0 0 0;
  padding: 1rem 0;
  /* background-color: red; */
}
h2,
h3 {
    color: var(--primary-color);
}
p {
    text-align: center;
}
 .main-btn {
    background-color: var(--primary-color);
    position: relative;
    border: none;
  
    color: #FFFFFF;
    padding: 20px;
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.main-btn:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .main-btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

.hero-content-div .main-btn {
    background-color: var(--main-color);
}

/*   

hero section

   */
.hero-container {
  height: 85dvh;
  /* background-color: yellow; */
  background-image: url("./images/students.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;

  /* left: 5%; */
}
.hero-content-div {

    width: 90%;
    background-color: var(--primary-color);
    position: absolute;
    top: 40%;
    padding: 2rem;

}
.hero-content-div button {
  width: 50%;
}




/* 

section-1

 */


.section-1 {
    /* margin-top: 3rem; */
    height: 20dvh;
}
.section-1 p, .section-2 p {
    color: black;
}
.section-2 {
    margin-top: 6rem;
    /* height: 80dvh; */
    /* background-color: red; */
    /* padding: 12rem 0rem; */
}
.section-2 .row div {
    margin: .3rem 0;
}
.img-div {

}
.section-2 p {
    color: white;
}
.section-2 img {
    /* height: 25rem; */

}
.text-div {
    background-color: var(--main-color);
}

/* pc  */
@media screen and (min-width: 1000px) {
  .main-container {
    margin: 3rem 0 0 0;
    padding: 2.5rem 0;
    /* background-color: red; */
  }
  /* .hero-container {
            background-size: cover;
           background-position:0 0;
        
        } */
  .hero-container {
    height: 90dvh;

    background-image: url("./images/students.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
  }

  .hero-content-div {
    width: 40%;

    height: 40vh;
    position: absolute;
    top: 30%;
    left: 5%;
  }
  .hero-content-div button{
    width: 30%;
}
.section-1 {
    margin-top: 3rem;
    height: 20dvh;
}
.section-2 .row div {
    margin: 0 0;
}
.section-2 {
    /* margin-top: 4rem; */
    /* height: 80dvh; */
    /* background-color: red; */
    /* padding: 12rem 0rem; */
}
.section-2 img {
    /* height: 25rem; */

}


}

